.form-content {
	position: relative;
	flex: 1;
	max-width: 800px;
	margin: 20px;
	display: flex;
	flex-flow: column nowrap;
	background: #232d3b;
}

.form-close-button {
	align-self: flex-end;
	margin: 5px;
}

.form-title {
	font-size: 1.8em;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.form-input-error-text {
	margin: 0 20px 5px;
	color: #e35522;
	font-size: 0.9em;
}

.form-input {
	margin: 0 20px 20px 20px;
	padding: 10px 5px 10px 50px;
	color: white;
	outline: none;
	border: none;
}

.form-input:focus {
	outline: 1px solid #e35522;
}

.name {
	background: url("../../assets/account.png") #2d394d no-repeat center left 7px;
	background-size: auto 80%;
}

.email {
	background: url("../../assets/email.png") #2d394d no-repeat center left 7px;
	background-size: auto 80%;
}

.password {
	background: url("../../assets/key-variant.png") #2d394d no-repeat center left
		7px;
	background-size: auto 80%;
}

.form-submit-button {
	color: white;
	background-color: #e35522;
	align-self: center;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.form-redirect-text {
	align-self: center;
	color: #a2b1c6;
	cursor: pointer;
	font-size: 0.9em;
	margin: 10px 10px 25px;
}

.form-redirect-text:hover {
	text-decoration: underline;
}

.form-error {
	margin-left: 20px;
	color: red;
}
