.login-container,
.register-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 1;
}

.register-container {
	z-index: 0;
}

@media screen and (max-width: 1069px) {
	.content {
		min-width: 300px;
	}
}
