.register-content {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	background: #232d3b;
}

.register-close-button {
	align-self: flex-end;
	margin: 5px;
}

.register-title {
	font-size: 1.8em;
	color: white;
	text-align: center;
	margin: 10px;
}

.register-input {
	margin: 10px 20px;
	padding: 10px 5px 10px 50px;
	color: white;
	outline: none;
	border: none;
	background-size: auto 80%;
}

.register-input:focus {
	outline: 1px solid #e35522;
}

#register-email-input {
	background: url("../../assets/email.png") #2d394d no-repeat center left 7px;
	background-size: auto 80%;
}

#register-password-input {
	background: url("../../assets/key-variant.png") #2d394d no-repeat center left
		7px;
	background-size: auto 80%;
}

#register-password-input-confirm {
	background: url("../../assets/key-variant.png") #2d394d no-repeat center left
		7px;
	background-size: auto 80%;
}

#register-submit-button {
	color: white;
	background-color: #e35522;
	align-self: center;
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#login-button {
	align-self: center;
	color: #a2b1c6;
	cursor: pointer;
	font-size: 0.9em;
	margin: 10px 10px 25px;
}
