.top-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 64px;
    background-color: #232d3b;
    width: 100%;
}

.top-bar-back-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.top-bar-back-link {
    margin-left: 10px;
}

.top-bar-text-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.top-bar-text {
    color: white;
    font-size: 1.8em;
    text-align: center;
}

.top-bar-filler {
    flex: 1;
}
