<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/auth/animations.css" type="text/css">
    <link rel="stylesheet" href="../css/auth/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/auth/form.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <div class="login-container">
        <form id="login-form" class="form-content" action="javascript:void(0);">
            <a href="/" class="form-close-button">
                <img src="assets/close.png" alt="close">
            </a>
            <span class="form-title">Login</span>
            <label for="login-email-input" class="hidden"></label>
            <input type="text" id="login-email-input" class="form-input email" placeholder="Email"
                onfocusout="remake(this);">
            <label for="login-password-input" class="hidden"></label>
            <input type="password" id="login-password-input" class="form-input password" placeholder="Password"
                onchange="remake(this);" onfocusout="remake(this);">
            <span id="login-form-error" class="form-error hidden"></span>
            <input type="submit" class="form-submit-button unselectable non-draggable" value="Login">
            <span class="form-redirect-text" onclick="registerRedirect()">New here? Click to Register</span>
        </form>
    </div>
    <div class="register-container">
        <form id="register-form" class="form-content hidden" action="javascript:void(0);">
            <a href="/" class="form-close-button">
                <img src="assets/close.png" alt="close">
            </a>
            <span class="form-title">Register</span>
            <label for="register-name-input" class="hidden"></label>
            <input type="text" id="register-name-input" class="form-input name" placeholder="Username"
                onfocusout="remake(this);">
            <label for="register-email-input" class="hidden"></label>
            <input type="text" id="register-email-input" class="form-input email" placeholder="Email"
                onfocusout="remake(this);">
            <label for="register-password-input" class="hidden"></label>
            <input type="password" id="register-password-input" class="form-input password" placeholder="Password"
                onfocusout="remake(this);">
            <span id="register-form-error" class="form-error hidden"></span>
            <input type="submit" class="form-submit-button unselectable non-draggable" value="Register">
            <span class="form-redirect-text" onclick="loginRedirect()">Have an account? Login</span>
        </form>
    </div>
    <script src="js/auth.js"></script>
</body>

</html>