<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/create/layout.css" type="text/css">
    <link rel="stylesheet" href="../css/create/animations.css" type="text/css">
    <link rel="stylesheet" href="../css/create/top-bar.css" type="text/css">
    <link rel="stylesheet" href="../css/create/post-form.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render=6LdluvUdAAAAAHzi7lV8XpHwj5gpv1yfDEjeYVoL"></script>
</head>

<body>
    <div class="error-toast-container hidden">
        <div class="error-toast">
            <img src="/assets/close.png" class="error-toast-close" onclick="closeErrorToast()">
            <span id="error-toast-text" style="margin: 20px 20px 60px 20px;">Sorry! An error occurred.</span>
        </div>
    </div>
    <div class="top-bar">
        <div class="top-bar-back-container">
            <a class="top-bar-back-link" href="/posts">
                <img class="top-bar-back" src="../assets/arrow-left.png" alt="back">
            </a>
        </div>
        <div class="top-bar-text-container">
            <div class="top-bar-text">Post News</div>
        </div>
        <div class="top-bar-filler"></div>
    </div>
    <div class="content-container">
        <div class="content">
            <form class="post-form" id="post-form">
                <input class="unselectable non-draggable" id="form-submit-button" type="submit" value="Submit">

                <label class="post-form-label" for="title">News Title:</label>
                <input class="post-form-input" type="text" id="title" name="title" maxlength="20" autocomplete="off">

                <label class="post-form-label" for="subtitle">News Subtitle:</label>
                <input class="post-form-input" required type="text" id="subtitle" name="subtitle" maxlength="50"
                    autocomplete="off">

                <label class="post-form-label" for="markdown">News Body (markdown format): </label>
                <textarea class="post-form-textarea" required oninput="markdownInput(this.value)" type="text"
                    id="markdown" name="html" maxlength="5000"></textarea>

                <label class="post-form-label hidden" id="markdown-preview-label" for="markdown-preview">News
                    Preview:</label>
            </form>
            <div id="markdown-preview"></div>
        </div>
    </div>
    <script type="text/javascript" src="/js/purify.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <script type="text/javascript" src="../js/create.js"></script>
</body>

</html>