* {
  scrollbar-width: 4px;
  scrllbar-height: 4px;
  scrollbar-color: #c4c4c4aa;
  scrollbar-face-color: #c4c4c4aa;
} /* Browsers other than webkit, I think? */

body, html {
  background-color: #1d2632;
  height: 100%;
  font-family: Montserrat, sans-serif;
  color: white;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c4c4aa;
}

::-webkit-scrollbar-corner {

}

.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.non-draggable {
  user-drag: none;
  -webkit-user-drag: none;
}
