.content-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.content {
    flex: 1;
    max-width: 1400px;
    display: flex;
    margin: 20px;
}

@media screen and (max-width: 900px) {
    .content {
        min-width: 200px;
    }
}
