.news-items-container {
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    margin-right: 20px;
    flex: 4;
    min-width: 60px;
    transition: flex .3s ease-out, margin .3s ease-out, opacity .4s ease .3s;
}

.news-items-container.collapsed {
    flex: 0;
    min-width: 0;
    margin: 0;
    transition: flex .3s ease-out, margin .3s ease-out, opacity 0s ease;
    opacity: 0;
}

.news-items-control-area {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-items-pagination-container {
    display: flex;
    justify-content: flex-start;
}

.pagination-control-button {
    width: auto;
    cursor: pointer;
}

#pagination-page-label {
    overflow: hidden;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
}

#pagination-page-input {
    background-color: transparent;
    border: 2px solid #2d3a4d;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-align: center;
    max-width: 20px;
}

.news-items-create-button {
    background: #e35522;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 8px;
    line-height: 40px;
    text-align: center;
    padding: 0 10px;
}

.news-items-scroll-area {
    flex: 1;
    overflow: auto;
}

.news-item {
    background-color: #2d3a4d;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 160px;
    padding: 10px;
}

.news-item:last-child {
    margin-bottom: 0;
}

.news-item-thumbnail {
    flex: 3;
    max-width: 150px;
    min-width: 30px;
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

.news-item-content {
    flex: 7;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.news-item-view-button {
    color: white;
    background: #e35522;
    cursor: pointer;
    padding: 10px;
    margin: -10px -10px -10px 10px;
    border-radius: 0 8px 8px 0;
}

.news-item-content-text {
    margin-top: auto;
    margin-bottom: auto;
    overflow: auto;
}

.news-item-title {
    font-size: 1.3em;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.news-item-subtitle {
    font-size: 1.1em;
    color: #e0e4e9;
    padding-top: 5px;
    padding-bottom: 5px;
}

.news-item-header {
    font-size: .85em;
    color: #c0c0c0;
    margin-bottom: auto;
    text-align: right;
}

.news-item-footer {
    font-size: .85em;
    color: #c0c0c0;
    margin-top: auto;
    margin-right: 10px;
}

@media screen and (max-width: 1069px) {
    .news-items-container {
        margin-right: 0;
        flex: 1;
        min-width: 60px;
        transition: opacity .4s ease .1s;
    }

    .news-items-container.collapsed {
        flex: 0;
        min-width: 0;
        margin: 0;
        transition: none;
        opacity: 0;
    }
}
