.news-content-container {
    flex: 6;
    background-color: #2d3a4d;
    border-radius: 8px;
    overflow: auto;
}

.news-content-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.news-content-metadata {
    font-size: .85em;
    color: #c0c0c0;
}

.news-content-delete {
    font-size: .85em;
    color: #c73c47;
    cursor: pointer;
}

.news-content {
    margin: 0 10px 10px 10px;
}

@media screen and (max-width: 1069px) {
    .news-content-container {
        flex: 0;
        opacity: 0;
        background-color: #2d3a4d;
        border-radius: 8px;
        transition: none;
    }
    .news-content-container.items-collapsed {
        flex: 1;
        opacity: 1;
        transition: opacity .4s ease .1s;
    }
}
