.top-bar {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 64px;
	background-color: #232d3b;
	width: 100%;
}

.top-bar-hamburger-container {
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

.top-bar-hamburger {
	padding-left: 10px;
}

.top-bar-text-container {
	flex: 1;
	display: flex;
	justify-content: center;
}

.top-bar-text {
	color: white;
	font-size: 1.8em;
	text-align: center;
}

.top-bar-user-control-container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin-right: 15px;
	padding: 10px 15px;
	align-items: center;
}

.top-bar-user-control {
	margin-top: auto;
	margin-bottom: auto;
	background: #2d3a4d;
	display: flex;
}

.user-control-avatar {
	width: 24px;
	height: 24px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	cursor: pointer;
}

.user-control-text {
	margin: 10px;
}

.top-bar-login-button-container {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.top-bar-login-button {
	text-decoration: none;
	color: white;
	font-size: 1.1em;
	margin-right: 15px;
	padding: 10px 15px;
	background-color: #e35522;
	border-radius: 8px;
}

.top-bar-login-button:visited {
	text-decoration: none;
	color: white;
}
